@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@model PagingList<MappingLectureCourse.Models.ContentViewModel.Session>


@{
    ViewData["Title"] = "Index";
}

<h2>List of Session</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-4"><a asp-action="Create" class="btn btn-primary">Add New Session</a></div>
    <div class="col-md-7 col-7" style="float:right">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Search ....." class="form-control" name="Search">
                </div>
            </div>
        </form>
    </div>
</div>

<hr />

<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionName)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.SessionID">Update Session</a> |
                    <a asp-action="Detail" asp-route-id="@item.SessionID">View Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.SessionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>